@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=M+PLUS+Rounded+1c&family=PT+Sans+Narrow&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');


:root{
    /*typography*/
    --family-header: 'ABeeZee', sans-serif;
    --font-family: 'Cormorant Garamond', sans-serif;
    --font-family-text: 'Tajawal', sans-serif;

    --weight-400: 400;
}

*{
    height: max-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dispay{
    width: 100%;
    min-height: 100vh;
    height:max-content;

    background: url(images/destination/background-destination-desktop.jpg) no-repeat;
    background-size: cover;
}
.conteuner{
    height: 100%;
    margin:0px 50px;
}
header{
    display: flex;
    height: max-content;
    padding: 10px;
    
    justify-content: space-between;
}
.logo{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.menu{
    padding-top: 35px;
    padding-right: 100px;
    padding-left: 50px;
    height: 100px;

    background-color:rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);

    font-family: var(--font-family-text);
    font-weight: var(--weight-300);
}
.menu ul{
    
    display: flex;
    gap: 15px;
}
.menu ul li{

    list-style: none;
}
.menu ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;

    color: rgb(255, 255, 255);
}
.menu ul li a:before{
    content: '';
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.menu ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.menuToggle{
    display: none;
}

section{
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.box__planet{
    padding: 10px;
    height: 100%;
    width: 50%;
}
.title{
    padding-bottom: 50px;
}
.title h1{
    font-family: var(--family-header);
    font-weight: var(--weight-100);
    opacity: 0.8;

    color: white;
}
.box__planet__images img{
    width: 80%;
}

.box__info__planet{
    height: 100%;
    width: 50%;
    padding-top: 120px;
}

.button__planet{
    padding: 50px 20px;
}
.button__planet input{
    padding-right: 2rem;

    border: none;
    color: rgba(255, 255, 255, 0.363);
    background-color: rgba(255, 255, 255, 0);
}
.button__planet input:hover{
    cursor: pointer;

    color: white;
}
.name__planet h1{
    font-size: 100px;
    font-family: var(--font-family);
    font-weight: var(--weight-300);

    color: white;
}
.info__planet {
    padding-bottom: 50px;

    box-shadow: 0px 0.5px 0px rgb(255, 255, 255);
}
.info__planet p{
    font-size: 18px;
    line-height: 30px;
    font-family: var(--font-family-text);
    font-weight: 100;
    opacity: 0.6;

    color: white;
}

.info__planet__time_or_km{
    display: flex;
    padding-top: 20px;
}
.info__planet__time_or_km p{
    font-family: var(--font-family-text);
    font-weight: 100;
    opacity: 0.6;

    color: white;
}
.info__planet__time_or_km h1{
    font-family: var(--font-family-text);
    font-weight: 100;

    color: white;
}
.km__planet{
    width: 50%;

}
.time__planet{
    width: 50%;

}

@media(max-width: 1100px){
    .dispay{
        background: url(images/home/background-home-tablet.jpg) no-repeat;
        background-size: cover;
    }
}

@media(max-width: 845px){
    .conteuner{
        margin: 0px 10px;
    }
    .dispay{
        background: url(images/destination/background-destination-mobile.jpg) no-repeat;
        background-size: cover;
    }
    .logo{
        margin-top: 0px;
        width: 50px;
        height: 50px;
    }
    .menu{
        width: 100%;
        height: 90%;
        position: absolute;
        top:80px;
        left: 0;
        padding: 20px;

        opacity: 0;
        overflow: hidden;
    }
    .menu ul{
        display: block;
    }
    .menu ul li{
        padding: 20px 0px;
    }
    .menu ul li a:before{
        bottom: -10px;
        height: 2px;

    }
    .menuToggle{
        display: block;
        width: 50px;
        height: 50px;

        color: white;
    }
    header.open .menu{
        position: fixed;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.132);
        z-index: 999;
    }

    section{
        display: block;
    }
    .box__planet{
        height: 50%;
        width: 100%;
    }
    .name__planet{
        text-align: center;
    }
    
    .box__info__planet{
        height: 50%;
        width: 100%;
        padding-top: 0;
    }
    .button__planet{
        text-align: center;
        padding-right: 0;
    }
    .box__planet__images{
        text-align: center;
    }
    .info__planet{
        text-align: center;
    }
}