@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');


:root{
    /*typography*/
    --font-family: 'Cormorant Garamond', sans-serif;
    --font-family-text: 'Tajawal', sans-serif;

    --weight-400: 300;
    --weight-300: 400;
}


*{
    height: max-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dispay{
    width: 100%;
    height: 100vh;

    background: url(images/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
}
.conteuner{
    height: 100%;
    margin:0px 50px;
}
header{
    display: flex;
    height: max-content;
    padding: 10px;
    
    justify-content: space-between;
}
.logo{
    margin-top: 10px;
    width: 80px;
    height: 80px;
}
.logo img{
    width: 100%;
    height: 100%;

    animation-name: right-stor;
    animation-duration: 4s;
}
.menu{
    padding-top: 35px;
    padding-right: 100px;
    padding-left: 50px;
    height: 100px;

    background-color:rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(15px);

    font-family: var(--font-family-text);
    font-weight: var(--weight-300);
}
.menu ul{
    
    display: flex;
    gap: 15px;
}
.menu ul li{

    list-style: none;
}
.menu ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 0.1em;

    color: rgb(255, 255, 255);
}
.menu ul li a:before{
    content: '';
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}
.menu ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.menuToggle{
    display: none;
}

section{
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.box__text{
    padding: 10px;
    height: 100%;
    width: 50%;

    animation-name: animation__block;
    animation-duration: 4s;
}
.text{
    max-width: 470px;
    height: 100%;
    padding-top: 150px;

    color: white;
}
.text h3{
    font-size: 30px;

    font-family: var(--font-family);
    font-weight: var(--weight-400);
}
.text h1{
    font-size: 150px;
    font-family: var(--font-family);
    font-weight: var(--weight-400);
}
.text p{
    font-size: 20px;

    font-family: var(--font-family-text);
    font-weight: var(--weight-300);
}
.box__logo{
    height: 100%;
    width: 50%;
}
.round{
    position: relative;
    width: 200px;
    height: 200px;
    top:40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    background-color: white;

    animation-name: animation__block;
    animation-duration: 4s;
}
.round p{
    position: relative;
    text-align: center;
    top: 43%;
    color: black;
    font-size: 25px;
}

@keyframes animation__block{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        bottom: 0px;
        opacity: 1;
    }
}


@media(max-width: 1100px){
    .dispay{
        background: url(images/home/background-home-tablet.jpg) no-repeat;
        background-size: cover;
    }
}

@media(max-width: 845px){
    .conteuner{
        margin: 0px 10px;
    }
    .dispay{
        background: url(images/home/background-home-mobile.jpg) no-repeat;
        background-size: cover;
    }
    .logo{
        margin-top: 0px;
        width: 50px;
        height: 50px;
    }
    .menu{
        width: 100%;
        height: 90%;
        position: absolute;
        top:80px;
        left: 0;
        padding: 20px;

        opacity: 0;
        overflow: hidden;
    }
    .menu ul{
        display: block;
    }
    .menu ul li{
        padding: 20px 0px;
    }
    .menu ul li a:before{
        bottom: -10px;
        height: 2px;

    }
    .menuToggle{
        display: block;
        width: 50px;
        height: 50px;

        color: white;
    }
    header.open .menu{
        position: fixed;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.612);
        z-index: 999;
    }

    section{
        display: block;
    }
    .box__text{
        height: 50%;
        width: 100%;
    }
    .text{
        text-align: center;
        max-width: 100%;
        padding-top: 50px;
    }
    .text h1{
        font-size: 70px;
        font-weight: 300;
    }
    .box__logo{
        height: 20%;
        width: 100%;
    }
    .round{
        top: 100%;
    }
}